<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Trick Advisor</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="form-inline" id="form-inline" method="post" action="/users/login">
          <div class="form-group">
            <label class="sr-only" for="email">Email address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" required />
          </div>
          <div class="form-group">
            <label class="sr-only" for="passwor">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Sign in</button>
            {{#if error}}
            <p style="color:red;">{{error}}</p>
            {{/if}}
          </div>
        </form>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


<div class="container-full">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

          <p class="lead">Welcome to Trick Advisor</p>

          <br><br><br>

          <div class="row m-lg-top m-xlg-bottom">
            <div class="col-md-12 m-lg-bottom">
                <hgroup class="text-center">
                    <h1 class="m-xs-top-bottom">Let's get started!</h1>
                    <h1 class="m-xs-top-bottom">First, tell us what you're looking for.</h1>
                </hgroup>
            </div>

            <div class="m-lg-bottom hidden-xs">&nbsp;</div>
            <div class="p-md-bottom visible-xs">&nbsp;</div>

            <div class="col-md-12 text-center">
                <div class="col-md-5">
                    <div class="text-muted">
                        <div><i class="glyphicon-xlg air-icon-client"></i></div>
                        <div class="o-user-type-selection">I want to sign as a Recruiter</div>
                    </div>
                    <p class="fs-sm m-lg-bottom">
                      Find the best candidates
                      <br>
                      for your business.
                    </p>
                    <a class="btn btn-primary text-capitalize m-0" href="/recruiters/create">Sign Up</a>
                </div>

                <div class="col-md-2 o-or-divider">OR</div>

                <div class="col-md-5">
                    <div class="text-muted">
                        <div><i class="glyphicon-xlg air-icon-freelancer"></i></div>
                        <div class="o-user-type-selection">I want to sign as a Financial Advisor</div>
                    </div>
                    <p class="fs-sm m-lg-bottom">
                        Find jobs, share
                        <br>
                        and collaborate.
                    </p>
                    <a class="btn btn-primary text-capitalize m-0" href="/users/create">Sign Up</a>
                </div>
            </div>
        </div>
        </div>

      </div> <!-- /row -->

  	<br><br><br><br><br>

</div> <!-- /container full -->
