<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dobble Social Network{{#if title}} - {{title}}{{/if}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" media='all'>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" media='all'>
    <link href="/css/font-awesome.css" rel="stylesheet" media='all'>
  </head>

  <body>
    {{#if firstName}}
    <div id="greeting" style="float: right">
      <strong> Hi, {{firstName}}!</strong>
      <a href="/users/logout">Log out</a>
    </div>
    {{/if}}
    {{{body}}}

    <footer>
      <div class="container">
        <p>Trick Consulting Copyright &copy, 2015</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
